body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: rgb(237, 241, 256);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Rank {
  font-size: xx-large;
  font-weight: bold;
  color: rgba(5,75,173,255);
  text-align: center;
}

.card-title {
  font-size: x-large;
}

.media-card {
  animation: in-data-v-70df6e62 .3s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(var(--color-background-100));
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.05);
  display: inline-grid;
  grid-template-columns: 48px auto;
  position: relative;
  text-align: left;
  min-height: 80px;
}

.results.table {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.results-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results {
  display: grid;
  grid-gap: ;
}


.media-card {
  animation: in-data-v-70df6e62 .3s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(var(--color-background-100));
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.05);
  display: inline-grid;
  grid-template-columns: 48px auto;
  position: relative;
  text-align: left;
  min-height: 80px;
}

.grid-item {
  padding: 16px;
}